{% extends 'portfolio/base.html' %}

{% block content %}


{% load static %}
<!-- <div class="row justify-content-center my-3">
    <div class="col-5">
        <img src="{% static 'portfolio/kj.png' %}">
    </div>
</div> -->
<!-- **** About Section **** -->
<section id="about">
    <div class="container">
        <h2 class="section-title">
            About me
        </h2>
        <div class="row about-wrapper">
            <div class="col-md-6 col-sm-12">
                <div class="about-wrapper__image">
                    <img class="img-fluid rounded shadow-lg about-img" height="auto" width="300px"
                        src="{% static 'portfolio/kj.png' %}" alt="Profile Image" />
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="about-wrapper__info">
                    <p class="about-wrapper__info-text">
                        I am full stack developer / software developer with industry experience building websites and
                        web
                        applications. I specialize in front-end and back-end. I also have experience working
                        with javascript, node.js, php, react, mongoDB and API's development.
                    </p>

                    <!-- <span class="d-flex mt-3">
                            <a target="_blank" class="cta-btn cta-btn--resume" href="#!">
                                View Resume
                            </a>
                        </span> -->
                </div>
            </div>
        </div>
    </div>
</section>






<h2 class="mt-5">Projects</h2>
<hr>
<div class="row">
    {% for project in projects %}
    <div class="col-lg-4 col-md-6">

        {% if project.url %}
        <a href="{{ project.url }}">
            <img src="{{ project.image.url }}" class="img-fluid mb-2">
        </a>
        {% else %}

        <img src="{{ project.image.url }}" class="img-fluid mb-2">
        {% endif %}
        <h3>{{ project.title }}</h3>
        <p>{{ project.blogPost }}</p>

    </div>
    {% endfor %}
</div>
{% endblock %}